.burger{
    position: relative;
    width: 25px;
    height: 20px;
    & span{
        width: 100%;
        height: 1px;
        display: block;
        background-color: #373334;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0 50%);
    }
    &::before,
    &::after{
        content: ' ';
        display: block;
        width: 100%;
        height: 1px;
        position: absolute;
        background-color: #373334;
        left: 0;
        transition: all .3s;
    }
    &::before{
        top: 0;
    }
    &::after{
        bottom: 0;
    }
    &.open{
        & span{
            display: none;
        }
        &::before{
            transform: rotate(45deg);
            top: 10px;
        }
        &::after{
            transform: rotate(-45deg);
            bottom: 9px;
        }
    }
}
@media(min-width: 1200px){
    .burger{
        display: none;
    }
}